@model IEnumerable<string>
<div class="d-grid gap-2">
    <div class="see-catalogue-button">
        <a class="btn see-catalogue bstrap-button-nav-style @(null == ViewBag.SelectedGenre ? "color1": "color2")" asp-action="Home" asp-controller="Home" asp-route-home=""> Home </a>
        <a class="btn see-catalogue bstrap-button-nav-style @("Catalogue" == ViewBag.SelectedGenre ? "color1": "color2")" asp-action="Index" asp-controller="Home" asp-route-genre="Catalogue"
        asp-route-prodPage="1" target="_self" style="border: 2px solid black; margin-bottom: 10px">See the Catalogue</a>
        @foreach(string genre in Model ?? Enumerable.Empty<string>()){
            if(genre.Contains("&"))
                genre.Replace("&", "-");
            <a class="btn see-catalogue bstrap-button-nav-style @(genre.Replace("/", "-") == ViewBag.SelectedGenre ? "color1": "color2")" asp-action="Index" asp-controller="Home" asp-route-prodPage="1" style="border: 2px solid black; margin-bottom: 10px"
            asp-route-genre="@genre.Replace("/","-")" target="_self" >@genre</a>
        }
    </div>
</div>
